/* .card-animated {
  position: relative;
  
 
  margin: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.card-animated::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120%;
  background: linear-gradient(#00ccff,#d400d4);
  animation: card-animation 4s linear infinite;
}

.card-animated::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: rgba(48, 50, 52, 1);  
  border-radius: 16px;
  z-index: 1;
}
.card-animated:hover {
  transform: scale(1.1);
  background: whitesmoke;
}


@keyframes card-animation
{
  0%
  {
      transform: rotate(0deg);
  }
  100%
  {
      transform: rotate(360deg);
  }
}  */

/* card-animated anim. end */